{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
    <link rel="icon" href="{% static 'images/youtube-icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />


</head>
<body>
    
    <div class="header">
        <div class="header-left">
            <i id="menu" class="material-icons">menu</i>
            <img  src="https://www.xda-developers.com/files/2017/08/After-12-Years-Google-Gives-YouTube-a-New-Logo-1900x700_c.png" alt="">
        </div>

        <div class="header-search">
            <form action="">
                <input type="text" placeholder="search">
                <button><i class="material-icons">search</i></button>
            </form>
        </div>

        <div class="header-icons">
            <i class="material-icons display-this">search</i>
            <i class="material-icons display-this">videocam</i>
            <i class="material-icons display-this">apps</i>
            <i class="material-icons display-this">notifications</i>
            <i id="drop-down" class="material-icons display-this">account_circle</i>

        </div>

    </div>

    <div class="mainBody">
        <div class="sidebar">

            <div class="sidebar-categories">
    
                <div class="sidebar-category">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </div>
    
                <div class="sidebar-category">
                    <i class="material-icons">local_fire_department</i>
                    <span>Trending</span>
                </div>
                
                <div class="sidebar-category">
                    <i class="material-icons">subscriptions</i>
                    <span>Subscriptions</span>
                </div>
    
                <hr>
    
                <div class="sidebar-category">
                    <i class="material-icons">library_add_check</i>
                    <span>Library</span>
                </div>
    
                <div class="sidebar-category">
                    <i class="material-icons">play_arrow</i>
                    <span>Your Video</span>
                </div>
    
                <div class="sidebar-category">
                    <i class="material-icons">watch_later</i>
                    <span>History</span>
                </div>
    
                <div class="sidebar-category">
                    <i class="material-icons">thumb_up</i>
                    <span>Liked Video</span>
                </div>
    
                <hr>
            </div>
        </div>

        <div class="videos">
            <div class="drop-down-container">

                <h1>Recommends</h1>

                <div class="dropdown-content-background">
                    <div class="dropdown-contents">
                        <div class="dropdown-content">
                            <i class="material-icons">videocam</i>
                            <span>Create</span>
                        </div>

                        <div class="dropdown-content">
                            <i class="material-icons">settingss</i>
                            <span>Setting</span>
                        </div>

                        <div class="dropdown-content">
                            <i class="material-icons">person</i>
                            <span>Switch Account</span>
                        </div>

                        
                    </div>
                </div>
            </div>

            <div class="video-container">

                <div class="video">

                        <div class="video-thumbnail">
                            <img src="images/1.jpg" alt="">
                        </div>
                        
                        <div class="video-details">
                            <div class="author">
                                <img src="images/logo.jpg" alt="">

                            </div>

                            <div class="title">

                                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                                <a href=""><small>Deficix <i class="fas fa-check-circle"></i></small></a>
                                <span>1M Views, 1Months Ago</span>
                            </div>
                        </div>
                </div>

                 <div class="video">

                        <div class="video-thumbnail">
                            <img src="images/1.jpg" alt="">
                        </div>
                        
                        <div class="video-details">
                            <div class="author">
                                <img src="images/logo.jpg" alt="">

                            </div>

                            <div class="title">

                                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                                <a href=""><small>Deficix <i class="fas fa-check-circle"></i></small></a>
                                <span>1M Views, 1Months Ago</span>
                            </div>
                        </div>
                </div>

                 <div class="video">

                        <div class="video-thumbnail">
                            <img src="images/1.jpg" alt="">
                        </div>
                        
                        <div class="video-details">
                            <div class="author">
                                <img src="images/logo.jpg" alt="">

                            </div>

                            <div class="title">

                                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                                <a href=""><small>Deficix <i class="fas fa-check-circle"></i></small></a>
                                <span>1M Views, 1Months Ago</span>
                            </div>
                        </div>
                </div>

                 <div class="video">

                        <div class="video-thumbnail">
                            <img src="images/1.jpg" alt="">
                        </div>
                        
                        <div class="video-details">
                            <div class="author">
                                <img src="images/logo.jpg" alt="">

                            </div>

                            <div class="title">

                                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                                <a href=""><small>Deficix <i class="fas fa-check-circle"></i></small></a>
                                <span>1M Views, 1Months Ago</span>
                            </div>
                        </div>
                </div>

                 <div class="video">

                        <div class="video-thumbnail">
                            <img src="images/1.jpg" alt="">
                        </div>
                        
                        <div class="video-details">
                            <div class="author">
                                <img src="images/logo.jpg" alt="">

                            </div>

                            <div class="title">

                                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                                <a href=""><small>Deficix <i class="fas fa-check-circle"></i></small></a>
                                <span>1M Views, 1Months Ago</span>
                            </div>
                        </div>
                </div>

                 <div class="video">

                        <div class="video-thumbnail">
                            <img src="images/1.jpg" alt="">
                        </div>
                        
                        <div class="video-details">
                            <div class="author">
                                <img src="images/logo.jpg" alt="">

                            </div>

                            <div class="title">

                                <h3>Youtube Clone Using HTML, CSS and JS</h3>
                                <a href=""><small>Deficix <i class="fas fa-check-circle"></i></small></a>
                                <span>1M Views, 1Months Ago</span>
                            </div>
                        </div>
                </div>

                

            </div>

        </div>

    </div>

    <script src="js/main.js"></script>
</body>
</html>