{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
    <link rel="icon" href="{% static 'images/youtube-icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/channel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/channel-about.css' %}" type="text/css">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />


</head>

<body>
    
    <div class="header">
       <div class="header-left">
           <i id="menu" class="material-icons">menu</i>
           <a href="{% url 'index' %}">
               <img  src="https://www.xda-developers.com/files/2017/08/After-12-Years-Google-Gives-YouTube-a-New-Logo-1900x700_c.png" alt="">
           </a>
       </div>
    
       <div class="header-search">
           <form action="">
               <input type="text" placeholder="search">
               <button><i class="material-icons">search</i></button>
           </form>
       </div>
    
       <div class="header-icons">
           <i class="material-icons display-this">search</i>
           <i class="material-icons display-this">videocam</i>
           <i class="material-icons display-this">apps</i>
           <i class="material-icons display-this">notifications</i>
           <i id="drop-down" class="material-icons display-this">account_circle</i>
    
       </div>
    
    </div>
    
    <div class="mainBody">
        
       {% include 'partials/sidebar.html' %}
           <!-- Video Section Starts -->
       <div class="videos">
           
            {% include 'channel/partials/channel-header.html' %}
            
       </div>
    </div>

    
{% include 'channel/partials/subscribe-axios.html' %}

</body>
</html>


